<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dexio</title>

    <meta name="description" content="Dexio">
    <meta name="author" content="Tim Clancy">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Dexio <small>Dashboard</small>
        </h1>
      </div>

      <div class="panel panel-default">
        <label for="diamond" class="col-lg-2 control-label">Diamond Data</label>
        <input id="diamond" type="text">
        <button id="createButton">Create Diamond</button>
      </div>

      <div class="panel panel-default">
        
      </div>

    </div>
  </div>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
